/* content */
#content{
    width: 100%;
    height: 900px;
    text-align: center;

}
/* title */
#content .title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

#content .title h1{
    font-size: 40px;
    transition: 0.6s;


}
#content .title h1:hover{
    color: #F875AA;
}
#content > .title > hr{
    margin: 10px auto;
    width: 20%;
   
  
}
#content .describe p {
    font-family: monospace;
    text-align: center;
    

}
#content .describe a{
    text-decoration: none;
    /* font-weight: 300; */
    font-family: Impact;
   
}
#content .describe a:hover{
    color: #CD9B9B;
    cursor: pointer;
    
}
/* conten img */

#content .img {
 display: flex;
 margin-top: 90px;
 justify-content: space-evenly;
}
/* #content .img .pts1{ 
    margin-top: 90px;
    justify-content: space-evenly;

    
} */
#content .img .pts1 img {
    width: 369px;
    height: 506px;
    border-radius: 5px;
    transition: 0.6s;
    
}
#content .img .pts1 img:hover{
    margin-top: -20px;
    
}

/* content 2 */
.content2{
    width: 100%;
    height: 750px;
    text-align: center ;
    background-color: #E8A0BF;

}

.content2 .content_right img{
    width: 40%;
    height: 700px;
    float: right;
   padding-right: 40px;
   padding-top: 70px;
   border-radius: 10px;
}
.content2 .content_left{
    width: 60%;
    float: left;
}
.content2>.content_left>.title{
    
    padding-top:90px ;
    padding-bottom:60px ;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    font-size: 20px;

    
}
.content2>.content_left>.title h1:hover{
    color: #9E9FA5;

}
.content2>.content_left>.title p{
    text-transform: none;
    font-family: monospace;
    
}

.content2 > .content_left .small_content {
    font-size: 20px;
    text-align:justify ;

}
.content2 > .content_left .small_content p{
    width: 97%;
    
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
    font-family: serif;
}
.content2 .footer_content2{
    float: right;
    padding-right:60px ;
    padding-top: 35px;
}
/* content 3  */
.content3 {
    width: 100%;
    height: 1300px;
    padding-top: 60px;
    text-align: center;

}
.content3>.title_ct3 h1{
    text-transform: uppercase;
    padding-bottom: 50px;
    font-family: cursive;
    transition: 0.7s;
}
.content3>.title_ct3 h1:hover{
    color: #F875AA;
}
.content3>.service{
    margin-left:120px;

}
.content3>.service>.product{
    width: 30%;
    height: 500px;
    
    float: left;
    margin-bottom: 30px;
   
}
.content3>.service>.product>img{
    height: 400px;
    text-align: center;
    border-radius: 7px;
    transition: 0.6s;
   
}
.content3>.service>.product>img:hover{
    margin-top: -20px;
}
.content3>.service>.product h3{
    font-size: 25px;
    color: #E8A0BF;
    letter-spacing: 1px;
    padding-bottom: 20px;
    padding-top: 4px;


}
.content3>.service>.product p{
    text-align: center;
}
.content3 .service .button_service{
    margin-top: 20px;
    width: 100px;
}
.content3 .service .button_service button{
    margin:  0 520px;
    padding: 10px;
    border-radius: 10px ;
    width: 150px;

} 





/* footer */

#footer{
    width: 100%;
    height: 600px;
    background-color: #FFF6F6;

}
/* contact us */
#footer .footer_content .footer_title  a{
    text-decoration: none;
}
#footer .footer_content .footer_title h1 {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 45px;
    color: #F875AA;
    font-family: Comic ;
    
}
/* dress footer */
#footer .footer_dress {
    width: 50%;
    text-align: center;
    /* padding-top: 10px; */
    float: left;
}
#footer .footer_dress h3{
    font-size: 20px;
    padding-bottom: 8px;
    transition: 0.5s;
    
}
#footer .footer_dress h3:hover{
    color: #FF6969;
}
#footer .footer_dress .drs{
    padding-top: 7px;
    padding-left:130px ;
    text-align: left  ;

}
#footer .footer_dress .footer_icon{
    padding-right:40px;
    padding-top:40px ;
    
}#footer .footer_icon a{
    margin: 30px;
    font-size: 30px;
    width: 50%;

}
#footer .footer_since{
    font-family: Courier ;
    padding-right: 45px;
    padding-top: 12px;
}
/* footer right */
#footer .footer_right {
    width: 50%;
    float: right;
}
#footer .footer_right .footer_map h3 {
    text-align: center;
    padding-bottom: 20px;
    transition: 0.6s;
}
#footer .footer_right .footer_map h3:hover{
    color: #FF6969;
}
#footer .footer_right .footer_map iframe {
    padding-left: 150px;
    border-radius: 5px;
   
}
#footer .footer_right .footer_logo>img{
    width: 200px;
    height: 200px;
    /*  */
}

#footer .footer_right .footer_logo{
    padding-left: 260px;
}